.main-nav {
  background-color: rgb(40, 104, 129);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.25rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav_logo,
.main-nav_logo h1 {
  margin: 0;
  font-size: 2.0rem;
  color: white;
  font-family: 'Abril Fatface', cursive;
}

.main-nav_items {
  margin-right: 1.5rem;
}

.main-nav_items ul {
   display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-nav_items li {
  margin: 0 1rem; 
  align-items: flex-end;
}

.main-nav_items a {
  text-decoration: none;
  color: white;
  font-family: 'Abril Fatface', cursive;
}

.main-nav_items a:hover,
.main-nav_items a:active,
.main-nav_items a.active {
  color: orange;

}

.fa-burger {
  font-size: 2rem;
}

.fa-burger:hover {
  color: white;
  transition: 0.2s;
  cursor: pointer;
}

.pane-modal {
  border: 2px solid aquamarine;
}