.sets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sets-form button {
  background-color:  rgba(101, 197, 255, 0.19);
  color: rgb(85, 82, 82);
}